
{% extends 'base.html.twig' %}

{% block body %}

   <h1>Ceci est la page 1</h1>

   <a href="{{ path('page2') }}">Lien vers la page 2</a>

   <a href="{{ path('page3') }}">Lien vers la page 3</a>

{% endblock %}